.root {
    -fx-font-family: 'Calibri';
    -fx-base: #eeeeee;
    -fx-background-image: url("images/clouds.gif");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.sunny {
    -fx-background-image: url('images/clouds.gif');
    -fx-background-size: cover;
}

.cloudy {
    -fx-background-image: url('images/cloudy_image.jpg');
    -fx-background-size: cover;
}

.rainy {
    -fx-background-image: url('images/rainy.gif');
    -fx-background-size: cover;
}

.snowy {
    -fx-background-image: url('images/snowy_image.jpg');
    -fx-background-size: cover;
}

.storm {
    -fx-background-image: url('images/storm.gif');
    -fx-background-size: cover;
}

.clear2 {
    -fx-background-image: url('images/clearicon.jpg');
    -fx-background-size: cover;
}
.sunny2 {
    -fx-background-image: url('images/sunnyicon.jpg');
    -fx-background-size: cover;
}

.cloudy2 {
    -fx-background-image: url('images/cloudyicon.jpg');
    -fx-background-size: cover;
}

.rainy2 {
    -fx-background-image: url('images/rainyicon.jpg');
    -fx-background-size: cover;
}

.snowy2 {
    -fx-background-image: url('images/snowyicon.jpg');
    -fx-background-size: cover;
}

.storm2 {
    -fx-background-image: url('images/stormyicon.jpg');
    -fx-background-size: cover;
}



.header-label {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-padding: 10;
}

.ImageView {
    -fx-padding: 20;
}

.ForecastContainer {
    -fx-border-color: black;
    -fx-padding: 10;
    -fx-background-color: white;
}

.EmptyForecast {
    -fx-border-color: none;
}